<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.synapse" >

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Synapse"
        tools:targetApi="31" >
        <activity
            android:name=".screen.senior.dashboard.MedicationDashboard"
            android:exported="false" />
        <activity
            android:name=".screen.carer.modules.Medication"
            android:exported="false" />
        <activity
            android:name=".screen.carer.SendRequest"
            android:exported="false" />
        <activity
            android:name=".screen.senior.SearchPeople"
            android:exported="false" />
        <activity
            android:name=".screen.senior.ViewPeople"
            android:exported="false" />
        <activity
            android:name=".screen.carer.ViewPeople"
            android:exported="false" />
        <activity
            android:name=".screen.carer.SearchPeople"
            android:exported="false" />
        <activity
            android:name=".screen.senior.games.BrainTrainer"
            android:exported="false" />
        <activity
            android:name=".screen.senior.dashboard.GameDashboard"
            android:exported="false" />
        <activity
            android:name=".screen.senior.SeniorHome"
            android:exported="false" />
        <activity
            android:name=".screen.senior.SeniorVerifyEmail"
            android:exported="false" />
        <activity
            android:name=".screen.carer.CarerHome"
            android:exported="false" />
        <activity
            android:name=".screen.senior.RegisterSenior"
            android:exported="false" />
        <activity
            android:name=".screen.carer.RegisterCarer"
            android:exported="false" />
        <activity
            android:name=".screen.PickRole"
            android:exported="false" />
        <activity
            android:name=".screen.carer.CarerVerifyEmail"
            android:exported="false" />
        <activity
            android:name=".screen.Login"
            android:exported="false" />
        <activity
            android:name=".screen.Onboarding"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".screen.util.AlertReceiver" />
    </application>

</manifest>